@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.font{
    font-family: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #270a50;
    padding: 38px 150px;
}
.logo{
    font-size: 38px;
    color: white;
}
.wave{
     background:linear-gradient(
    #eef117,#fc149b,#5f17c5
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link{
    display: flex;
    gap: 32px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight:300 ;
}
.btn{
    width:135px ;
    height: 44px;
    color: #FFFFFF;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: none;
background: var(--Linear, linear-gradient(47.64deg, rgb(250, 229, 4),rgb(234, 7, 255),rgb(108, 8, 238)));
}
.btn:hover {
     color: #2a1744;
}
.hame{
    display: none;
}
.banner{
width: 100%;
height: 760px;
display: flex;
position: relative;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-image:url('./assets/hero-bg.png');
background-size: cover;
}
.banner-img{
    margin-top: 6%;
    margin-bottom: 2%;
    position: relative;
    display: inline-block;
}
.mic{
    position: absolute;
    margin-left: -66%;
    margin-top: 80px;
}
.badge{
    background-color:#00FF88;
    font-size: 18px;
    font-weight: 600 ;
    width: 75px;
    height: 37px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -300px;
    margin-left:300px;
}
.banner-content h1{
        font-size: 62px;
        font-weight: 800;
        color: #FFFFFF;
}
.banner-content p{
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
    margin-bottom: 63px;
}
.banner-btn{
    width:200px ;
    height: 44px;
    gap: 8px;
    color: #FFFFFF;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: none;
background: var(--Linear, linear-gradient(47.64deg, rgb(250, 229, 4),rgb(234, 7, 255),rgb(108, 8, 238)));
}
.banner-button{
    display: flex;
    justify-content: center;
    gap: 8px
}
.banner-btn:hover {
    color: #1A0B2E;
}
.sub-btn{
    width: 147px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
}
.sub-btn:hover{
    color: orange;
}
.about{
    width: 100%;
    height: 647px;
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}
.about p{
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
    margin-top: 10px;
}
.border{
    border: 1px solid #ffffff33;
    width: 1200px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.rating{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    align-items: center;
    gap: 80px;
}
.rating h1{
    font-size: 48px;
    font-weight: 800;
    color: #00FF88;
}
.why-choose{
    width: 100%;
    height: 1121px;
    background-color:#230E3D;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.why-choose h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
}
.grid-container{
    width: 80%;
    height: 773px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}
.grid-container img{
    width: 60px;
    height: 60px;
}
.grid-container h3{
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}
.grid-container p{
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
}
.box-1{
    grid-row: 1/span 2;
    color: #592d92;
    border-radius: 40px;
    gap: 16px;
box-shadow: 2px 1px 20px 4px #0f0022 ;
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
padding: 40px;
}    
.box-1:hover{
    background-color: #0b041491;
}
.box-2{
    grid-column: 2/span 2;
    color: #592d92;
    border-radius: 40px;
    gap: 16px;
    box-shadow: 2px 1px 20px 4px #0f0022 ;
    display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
padding: 40px;
}
.box-2:hover{
    background-color: #0b041491;
}
.box-3{
    grid-column: 2/span 2;
    color: #592d92;
    border-radius: 40px;
    gap: 16px;
    box-shadow: 2px 1px 20px 4px #0f0022 ;
    display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
padding: 40px;
}
.box-3:hover{
    background-color: #0b041491;
}
.box-4{
    grid-column: 1/span 2;
    color: #592d92;
    border-radius: 40px;
    gap: 16px;
    box-shadow: 2px 1px 20px 4px #0f0022 ;
    display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
padding:40px ;
}
.box-4:hover{
    background-color: #0b041491;
}
.box-5{
    grid-column: 3/span 1;
    color: #592d92;
    border-radius: 40px;
    gap: 16px;
    box-shadow: 2px 1px 20px 4px #0f0022 ;
    display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
padding: 40px;
}
.box-5:hover{
    background-color: #0b041491;
}
.feature{
    display:flex;
    justify-content: center;
   flex-direction: column;
   text-align:left;
   align-items: center;
    height: 1277px;
    width:100%;
    background-color: #1A0B2E;
}
.feature h2{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.feature-grid{
    width: 80%;
    height: 440px;
   display: grid;
   justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,3fr);
    gap: 10px;
    padding: 20px;
}
.vdo iframe{
    border-radius: 20px;
}
.vdo{
    justify-content: center;
    width: 370px;
    height: 440px;
    padding: 10px;
    background-color: #2a1744;
    border-radius: 20px;
    box-shadow: 2px 1px 20px 10px #0b0414;
}
.vdo:hover{
      background-color: #1A0B2E;
}
.vdo h3{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #FFFFFF;
}
.vdo p{
    font-family: 16px;
    font-weight: 200;
    margin-top: 20px;
    color: #FFFFFF;
}
.host-container{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}
.host-item{
     display: flex;
     flex-direction: column;
     background-color: #260c47;
     box-shadow: 0 0 10px 10px #0b041491;
      width: 1200px;
    height: 280px;
    border-radius: 20px;
    padding-top: 40px;
}
.host-item:hover{
    background-color: #0f0022;
}
.host{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.host-item h4{
      font-size: 32px;
      font-weight: 700;
      color: #FFFFFF;
      margin-bottom: 16px;
}
.host-item p{
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.host-icon{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}
.brdr{
    border:1px solid rgb(145, 28, 255) ;
    border-radius: 50%;
    padding: 7px;
}
footer{
    width: 100%;
    height: 412px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./assets/footer-bg.png');
    background-position: center;
    background-size: cover;

}
footer h1{
    font-size: 80px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.f-wave{
    background:linear-gradient(
    #eef117,#fc149b,#5f17c5
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-icon{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:25px;
    align-items: center;
    margin-bottom: 40px;
}
.gap{
    display: flex;
    gap: 10px;
}
.footer-icon span{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 200;
}
.copyright{
    color: #FFFFFF;
}


@media screen and (max-width:576px) {
              .link{
                display:none;
             }
             .btn{
                display: none;
             }
             .hame{
                display: block;
             }
             
             #nav-bar{
                display: flex;
                justify-content: space-between;
                padding: 10px 20px; 
             }
             .banner{
                background-position: center;
                height: auto;
             }
             .banner-img{
                
             }  
             .banner-button{
                margin-bottom: 40px;
             }
             .about h2{
                margin-top: 40px;
                font-size: 32px;
             }
             .border{
                margin-top: 30px;
                margin-bottom: 30px;
                width: 70%;
             }
             .rating{
                grid-template-columns: repeat(2,2fr);
                gap: 30px;
             }
             .why-choose{
                height: 2100px;
                justify-content: flex-start;
             }
             .why-choose h2{
                font-size: 32px;
                margin-bottom: 15px;
                margin-top: 25px;
             }
             .grid-container{
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(1,1fr);
             }
             .box-1{
                grid-row: 1/span 1;
                grid-column: 1/span 1;
                width: 80%;
                  height: 287px;
             }
             .box-2{
                grid-row: span 1;
                 grid-column: 1/span 1;
                width: 80%;
                  height: 287px;
             }
              .box-3{
                grid-row: 2/ span 1;
                 grid-column: 1/span 1;
                width: 80%;
                  height: 287px;
              }
               .box-4{
                 grid-row: 3/ span1;
                  grid-column: 1/span 1;
                 width: 80%;
                   height: 287px;
               }
                .box-5{
                    grid-row: 5/span 1;
                     grid-column: 1/span 1;
                    width: 80%;
                    height: 287px;
                }
                .feature{
                    height: 1936px;
                    padding-top: 0;
                }
                .feature h2{
                    margin-bottom: 10px;
                }
                .feature-grid{
                    height: 1200px;
                    grid-template-columns: repeat(1,1fr);
                    grid-template-rows:repeat(1,1fr) ;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                }
                .host-container{
                    margin:24px;
                }
                .vdo{
                    height: 340px;
                }
                .host{
                    flex-direction: column;}
                    .host-item{
                    display: flex;
                    width: 400px;
                    height: 483px;
                    justify-content: center;
                    text-align: center;
                }
                .host-icon{
                   justify-content: center;
                }
                footer{
                    height: 248px;
                    background-position: center;
                    
                }
                footer h1{
                    font-size: 60px
                }
                .footer-icon{
                   grid-template-columns: repeat(2,2fr);
                   justify-content: center;
                   align-items: center;
                   text-align: center;
                }

}
@media screen and ( min-width:577px) and (max-width:992px){
              
             #nav-bar{
                display: flex;
                justify-content: space-between;
                padding: 10px 20px; 
             }
             .banner{
                background-position: center;
                height: auto;
             }
             .banner-img{
                
             }  
             .about h2{
                margin-top: 5px;
                font-size: 50px;
             }
             .border{
                margin-top: 50px;
                margin-bottom: 50px;
                width: 70%;
             }
             .rating{
                grid-template-rows: repeat(1,4fr);
                gap: 30px;
             }
             .why-choose{
                justify-content: flex-start;
             }
             .why-choose h2{
                font-size: 32px;
                margin-bottom: 15px;
                margin-top: 25px;
             }
             .feature{
                display: flex;
                justify-content: center;
                align-items: center;
             }
                .feature h2{
                    margin-bottom: 10px;
                }
                .feature-grid{
                  width: 60%;
                  height: 200px;
                  display: grid;
                  grid-template-columns: repeat(3,1fr);
                  grid-template-rows: repeat(1,3fr);
                  gap: 10px;
                  justify-content: center;
                 padding: 20px;
                 margin-bottom: 200px;
                 }
                 iframe{
                    width: 180px;
                 }
                 .vdo{
                    justify-content: center;
                  width: 180px;
                  height: 440px;
                  padding: 10px;
                  background-color: #2a1744;
                  border-radius: 20px;
                  box-shadow: 2px 1px 20px 10px #0b0414;
}
                .host-container{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}
                .host-item{
               width: 90%;
             height: 280px;
            border-radius: 20px;
}
                footer{
                    height: 248px;
                    background-position: center;
                    
                }
                footer h1{
                    font-size: 60px
                }
                .footer-icon{
                   grid-template-columns: repeat(2,2fr);
                   justify-content: center;
                   align-items: center;
                   text-align: center;
                }
}